a {
  text-decoration: none;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 58px;  
}

#menu__toggle {
  opacity: 0;

  &:checked ~ .menu__btn > .burg {
    transform: rotate(45deg);
    background-color: #f1f1f1;
  }

  &:checked ~ .menu__btn > .burg::before {
    top: 0;
    transform: rotate(0);
    background-color: #f1f1f1;
  }

  &:checked ~ .menu__btn > .burg::after {
    top: 0;
    transform: rotate(90deg);
    background-color: #f1f1f1;
  }

  &:checked ~ .burger__menu-wrapper {
    visibility: visible;
  }
}

.logo-for-burger {
  position: absolute;
  text-align: left;
}
.logo-for-burger .logo__text {
  color: white;
}

.logo-for-burger .logo__description {
  color: white;
}
.menu__btn {
  display: block;
  position: relative;
  top: -5px;
  cursor: pointer;
  z-index: 3;
}

.burg {
  width: 24px;
  height: 2px;
  background-color: rgb(24, 25, 29);

  &::before {
    display: block;
    content: '';
    width: 24px;
    height: 2px;
    background-color: rgb(24, 25, 29);
    position: absolute;
    top: -5px;

    transition-duration: 0.2s;
  }
  &::after {
    display: block;
    content: '';
    width: 24px;
    height: 2px;
    background-color: rgb(24, 25, 29);
    position: absolute;
    top: 5px;

    transition-duration: 0.2s;
  }
}

.burger {
  &__menu {
    &-wrapper {
      display: block;
      position: absolute;
      visibility: hidden;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      padding-top: 115px;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.86);
      z-index: 2;
    }

    &-link {
      display: block;
      font-size: 18px;
      font-family: 'Tahoma';
      color: rgb(255, 255, 255);
      font-weight: bold;
      text-align: left;
      letter-spacing: 0.1em;
    }

    &-item {
      &:not(:last-child) {
        margin-bottom: 20px;
      }

      &:hover .burger__menu-link {
        color: rgb(255, 107, 8);
      }
    }

    &-btn {
      border: solid 2px rgb(255, 255, 255);
      background: transparent;
      width: 247px;
      height: 45px;
      font-size: 11px;
      font-family: 'Tahoma';
      color: rgb(255, 255, 255);
      font-weight: bold;
      text-transform: uppercase;

      &:hover {
        border-color: rgb(255, 107, 8);
        color: rgb(255, 107, 8);
      }
    }
  }
}


.header {
  background-image: url(../../images/mobile/header/m-header-background.jpg);
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 26px;
  padding-bottom: 50px;

  &-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 87px;
  }

  @media (min-resolution: 192dpi) {
    background-image: url(../../images/mobile/header/m-header-background@2x.jpg);
  }

  &__titel {
    font-size: 20px;
    font-family: 'Montserrat';
    color: rgb(24, 25, 29);
    font-weight: bold;
    line-height: 1.45;
    margin-bottom: 32px;
    letter-spacing: 0.03em;
  }

  &__description {
    font-size: 15px;
    font-family: 'Montserrat';
    color: #18191d;
    line-height: 1.355;
    letter-spacing: 0.05em;

    &--margbot1{
      margin-bottom: 6px;
    }

    &--margbot2 {
      margin-bottom: 39px;
    }

    &--grey {
      color: #b9b9b9;
    }

    &--orange {
      color: #ff6b08;
    }
  }

  &__list {
    display: flex;

    &-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 200px;
    }

    &-icon {
      fill: rgb(255, 107, 8);
      width: 31px;
      height: 35px;
      transform: translateY(25%);

      &-wrapper {
        border: solid 2px rgb(255, 107, 8);
        width: 54px;
        height: 54px;
        text-align: center;
        position: relative;
      }
    }

    &-absolute {
      width: 68px;
      height: 36px;
      background-color: #ffffff;
      position: absolute;
      transform: translate(70%, 0%);
    }

    &-text {
      width: 130px;
      font-size: 13px;
      font-family: 'Montserrat';
      color: rgb(24, 25, 29);
      font-weight: bold;
      line-height: 1.538;
      z-index: 2;
    }
  }
}

.modal-btn {
  border: none;
  background-color: rgb(255, 107, 8);
  outline: none;
  cursor: pointer;
  font-size: 11px;
  font-family: 'Tahoma';
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1em;
  width: 246px;
  height: 44px;

  &:hover {
    background-color: rgb(211, 85, 38);
  }
}

.under {
  display: block;
}

.logo {
  display: flex;
  flex-direction: column;

  &__icon {
    fill: #ff6b08;
    width: 15px;
    height: 15px;

    &-wrapper {
      display: flex;
      align-items: center;
    }
  }

  &__text {
    font-size: 15px;
    font-family: 'Montserrat';
    color: rgb(0, 0, 0);
    font-weight: bold;
    letter-spacing: 0.05em;
  }

  &__description {
    font-size: 5.3px;
    font-family: 'Myriad Pro';
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 0.13em;

    &--orange {
      color: #ff6b08;
    }
  }
}

/* MOBILE @MEDIA */

@media (max-width: 767px) {

  .navigation__menu-wrapper{
    display: none;
  }

  .burger {
    &__menu {
      margin-bottom: 55px;
      padding-left: 27px;
    }
  }
  .logo-for-burger {
    top: 26px;
  }
  
  .header {
    &__titel {
      &-wrapper {
        margin-bottom: 36px;
      }
    }
    &__list {
      flex-wrap: wrap;
      justify-content: center;

      &:not(:last-child) {
        margin-bottom: 22px;
      }
    }
  }
}

@media (max-width: 1279px){
  .under-mobile{
    display: block;
  }
}

/* TABLET @MEDIA */

@media (min-width: 768px) {

  .navigation{

    &__menu{
      display: none;

      &-btn{
        border: solid 2px rgb(255, 107, 8);
        background: transparent;
        width: 247px;
        height: 45px;
        font-size: 11px;
        font-family: 'Tahoma';
        color: rgb(255, 107, 8);
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
        margin-left: 206px;
      }

      &-wrapper{
        display: flex;       
      }
    }
  }

  .logo{
    &__text{
      font-size: 25px;
    }
    &__icon{
      width: 25px;
      height: 25px;
    }
    &__description{
      font-size: 8.75px;          
    }
  }
  
  .burger {
    &__menu {
      padding-left: 200px;

      &-link {
        font-size: 26px;
        font-weight: bold;
      }

      &-btn {
        display: none;
      }
    }
  }
  .logo-for-burger {
    top: 40px;
  }

  .header {
    padding-top: 37px;
    background-image: url(../../images/tablet/header/t-header-background.jpg);
    
    @media (min-resolution: 192dpi) {
      background-image: url(../../images/tablet/header/t-header-background@2x.jpg);
    }

    &-wrapper {
      justify-content: space-between;
      margin-bottom: 117px;
    }

    &__titel {
      font-size: 26px;
      line-height: 1.269;
      margin-bottom: 29px;
    }

    &__description {
      &--margbot2 {
        margin-bottom: 37px;
      }
    }

    &__list {
      justify-content: space-between;
    }
  }
  .under-tablet {
    display: block;
  }
}

/* DESKTOP @MEDIA */

@media (min-width: 1280px){

  .burger{
    display: none;
  }
  
  .navigation{
    &__menu{
      display: flex;
      justify-content: space-between;
      width: 570px;
      &-wrapper{
        align-items: baseline;
      }
      &-item{
        &:hover .navigation__menu-link {
          color: rgb(255, 107, 8);
        }
      }
      &-link{
        font-size: 12px;
        font-family: 'Tahoma';
        color: rgb(185, 185, 185);
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.1em;
      }
      &-btn{
        margin-left: 44px;
      }
    }
  }
  .header {
    padding-bottom: 86px;
    background-image: url(../../images/desktop/header/d-header-background.jpg);
     
    @media (min-resolution: 192dpi) {
      background-image: url(../../images/desktop/header/d-header-background@2x.jpg);
    }

    &-wrapper {
      margin-bottom: 129px;
    }    

    &__titel {      
      font-size: 48px;
      line-height: 1.208;
      margin-bottom: 35px;
    }

    &__description {
      font-size: 18px;
      
      &--margbot2 {
        margin-bottom: 67px;
        }
    }

    &__list {
      position: relative;

      &-item {
        width: 380px;
      }
        
      &-icon {
        width: 45px;
        height: 45px;
        transform: translateY(60%);
  
        &-wrapper {
          width: 103px;
          height: 103px;
        }
      }

      &-absolute {
        width: 140px;
        height: 73px;
        transform: translate(55%, 0%);
      }

      &-text {
        width: 275px;
        font-size: 18px;
        transform: translate(-21px, 0px);

      }
    }
  }
  .modal-btn{
    font-size: 12px;
    width: 296px;
    height: 64px;
  }
}


/* DESKTOP XL @MEDIA */

@media (min-width: 1680px){
  .header {
    padding-top: 28px;
    padding-bottom: 127px;
    background-image: url(../../images/desktop-xl/header/d-header-background.png);
     
    @media (min-resolution: 192dpi) {
      background-image: url(../../images/desktop-xl/header/d-header-background@2x.png);
    }
    &__titel {      
      font-size: 58.333px;
      line-height: 1.3;
      margin-bottom: 35px;
    }
    &__description {
      font-size: 21px;
      
      &--margbot2 {
        margin-bottom: 46px;
        }
    }
    &__list{
      &-item{
        width: 430px;
      }

      &-text{
        width: 340px;
        font-size: 21px;
        transform: translate(-18px, 0px);
      }
    }
  }
  .navigation{
    &__menu{
      width: 675px;

      &-link{
        font-size: 14px;
      }

      &-btn{
        margin-left: 57px;
      }
    }
  }
  .modal-btn{
    font-size: 14px;
    width: 346px;
    height: 64px;
  }
}