@-webkit-keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.how-we-do {
  padding-top: rem(204);
  padding-bottom: rem(52);
  text-align: center;

  @include for-size(tablet) {
    padding-top: rem(230);
  }

  @include for-size(desktop) {
    padding-top: rem(164);
    padding-bottom: rem(52);
  }

  &__title {
    font-size: rem(20);
    line-height: rem(33);
    font-weight: 800;
    margin-bottom: rem(34);
    @include for-size(tablet) {
      font-size: rem(26);
      margin-bottom: rem(40);
    }
    @include for-size(desktop) {
      text-align: left;
      font-size: rem(42);
      line-height: rem(62);
    }
  }

  &__list {
    @include for-size(tablet) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }

  &__list-item {
    padding-top: rem(30);
    padding-bottom: rem(24);
    box-shadow: 0px 0px 32px 8px rgba(29, 29, 27, 0.1);
    max-width: 280px;
    margin: 0 auto;
    line-height: rem(20);
    &:not(:last-of-type) {
      margin-bottom: rem(16);
    }
    @include for-size(tablet) {
      max-width: 320px;
      &:not(:nth-last-of-type(-n + 2)) {
        margin-bottom: rem(24);
      }
    }
    @include for-size(desktop) {
      max-width: 390px;
      padding-bottom: rem(34);
      &:not(:nth-last-child(2)) {
        margin-bottom: rem(24);
      }
    }
    @include for-size(desktop-xl) {
      padding-bottom: rem(54);
    }

    &:hover {
      background-color: $accent-color;
      transform: translate(-5px, -5px);
      transition: 0.5s;
    }
    &:hover .how-we-do__list-item-title,
    &:hover .how-we-do__list-item-description {
      color: #fff;
    }

    &:hover .how-we-do__svg-icon {
      fill: #fff;
      animation-name: flash;
      animation-duration: 1s;
      animation-timing-function: linear;
    }
    &:hover .how-we-do__list-item-title::after {
      background-color: #fff;
    }
  }

  &__svg-icon {
    fill: $accent-color;
    width: 46px;
    height: 46px;
    margin-bottom: rem(20);
    @include for-size(desktop) {
      margin-bottom: rem(28);
    }
  }

  &__list-item-wrapper {
    max-width: 75%;
    margin: 0 auto;
  }

  &__list-item-title {
    font-size: rem(13);
    letter-spacing: 0.65px;
    font-weight: 700;

    &--br {
      display: block;
    }
    &::after {
      content: '';
      display: block;
      width: 25px;
      height: 2px;
      background-color: $accent-color;
      margin: 20px auto;
    }
    @include for-size(desktop) {
      font-size: rem(18);
      line-height: rem(28);
    }

    @include for-size(desktop-xl) {
      font-size: rem(22);
      line-height: rem(30);
    }
  }

  &__list-item-description {
    font-size: rem(11);
    font-weight: 400;
    color: #858585;
    letter-spacing: 0.55px;

    @include for-size(desktop) {
      font-size: rem(15);
      line-height: rem(30);
    }

    @include for-size(desktop-xl) {
      font-size: rem(18);
      line-height: rem(30);
    }
  }
}
