.program {
  padding-top: 46px;
  background-color: rgba(17, 21, 23, 1);
  color: rgba(255, 255, 255, 1);
  font-family: "Montserrat", sans-serif;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 430px;
  background-image: url(../images/mobile/program/m-program.png);
  background-position: top;
  background-position: right 83.5%;
  background-repeat: no-repeat;

  @media (min-resolution: 192dpi) {
    background-image: url(../images/mobile/program/m-program@2x.png);
  }

  &__title {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.65;
    letter-spacing: 0.1em;
  }

  &__list {
    padding-left: 64px;
  }

  &__none {
    visibility: hidden;
  }

  &__list-item-semester-name {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.944;
    letter-spacing: 0.2em;
    padding-top: 26px;
  }

  &__list-item-list-title {
    font-size: 13px;
    color: rgba(255, 107, 8, 1);
    line-height: 2.244;
    padding-left: 40px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  &__list-item-list-name {
    font-size: 11px;
    color: rgba(133, 133, 133, 0.502);
    line-height: 1.818;
    padding-left: 0px;
  }

  &__list-item-list {
    position: relative;
  }

  &__list-item-list-title::before {
    content: '';
    position: absolute;
    transform: translate(-40px, 14px);
    width: 25px;
    height: 2px;
    background: #333;
    background-color: rgba(255, 107, 8, 1);
    visibility: visible;
  }

  &__list-item {
    position: relative;
  }

  &__list-item-semester-name::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-49px, 35.5px);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #333;
    background-color: rgba(255, 107, 8, 1);
  }

  &__list-item::before {
    content: "";
    display: block;
    width: 2px;
    height: 400px;
    background-color: #546264;
    position: absolute;
    transform: translate(-45px, 44px);
  }

  &__list-item:last-child::before {
    visibility: hidden;
  }

  &__for-tablet-paddings {
    width: 152px;
  }
}

@media (min-width:768px) {
  .program {
    background-image: url(../images/tablet/program/t-program.png);
    background-position: right 71%;

    @media (min-resolution: 192dpi) {
      background-image: url(../images/mobile/program/m-program@2x.png);
    }

    &__title {
      text-align: left;
      font-size: 26px;
    }

    &__list {
      padding-left: 135px;
    }

    &__for-tablet {
      display: flex;
    }

    &__center {
      margin-left: 34px;
      margin-right: 34px;
    }

    &__list-item-list {
      padding-bottom: 4px;
    }

    &__list-item:not(:last-child)::before {
      content: "";
      height: 220px;
    }
  }
}

@media (min-width:1280px) {
  .program {
    background-image: url(../images/desktop/program/d-program.png);
    background-position: left 71%;

    @media (min-resolution: 192dpi) {
      background-image: url(../images/desktop/program/d-program@2x.png);
    }

    &__for-tablet-paddings {
      width: 200px;
    }

    &__title {
      font-size: 42px;
      font-weight: bold;
      line-height: 1.489;
      letter-spacing: 0.03em;
    }

    &__list-item-semester-name {
      font-size: 19px;
      line-height: 1.535;
      letter-spacing: 0.1em;
      justify-content: space-between;
      padding-top: 40px;
    }

    &__list-item-list-title {
      font-size: 18px;
      line-height: 1.62;
      font-weight: 400;
    }

    &__list-item-list-name {
      font-size: 18.75px;
      line-height: 1.556;
    }

    &__list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 0 0 0;
    }

    &__for-tablet {
      display: flex;
      flex-direction: column;
    }

    &__for-tablet-paddings,
    &__list-item-semester-name:not(:last-child) {
      margin-left: 0px;
      margin-right: 66px;
    }

    &__list-item-semester-name::before {
      content: '';
      transform: translate(0px, -6px);
    }

    &__title-wrapper {
      display: flex;
      width: 100%;
      height: 90px;
      border-bottom: 2px solid #546264;
    }

    &__list-item::before {
      content: "";
      visibility: hidden;
    }
  }

  @media (min-width:1680px) {
    .program {

      &__list,
      &__title {
        padding-left: 184px;
        padding-right: 184px;
      }

      &__title {
        font-size: 46px;
        line-height: 1.365;
      }

      &__list-item-list-title {
        font-size: 21px;
        line-height: 1.4;
      }

      background-image: url(../images/desktop-xl/program/xl-program.png);
      background-position: left 82%;

      @media (min-resolution: 192dpi) {
        background-image: url(../images/desktop-xl/program/xl-program@2x.png);
      }
    }
  }
}
