
.container {
  max-width: 280px;
  margin: 0 auto;
  @include for-size(tablet) {
    max-width: 688px;
  }
  @include for-size(desktop) {
    max-width: 1210px;
  }
  @include for-size(desktop-xl) {
    max-width: 1360px;
  }
}

.accent-text {
  color: $accent-color;
}

.registration {
  background-image: linear-gradient(
      rgba(17, 21, 23, 0.8),
      rgba(17, 21, 23, 0.8)
    ),
    url(../images/mobile/registration/registration_bg.jpg);
  @include background-settings;
  padding-top: rem(54);
  padding-bottom: rem(58);
  color: $white-color;

  &__wrapper {
    text-align: center;
  }
  &__title {
    font-size: rem(14);
    font-weight: 800;
    line-height: rem(26);
    letter-spacing: 0.7px;
    margin: 0 auto 20px;
    max-width: rem(260);

    @include for-size(tablet) {
      font-size: rem(22);
      line-height: rem(38);
      max-width: rem(544);
    }
    @include for-size(desktop) {
      font-size: rem(38);
      line-height: rem(50);
      margin-bottom: rem(50);
      max-width: rem(930);
    }
  }

  &__decription {
    font-size: rem(11);
    font-weight: 600;
    line-height: rem(20);
    letter-spacing: 0.7px;
    margin: 0 auto 24px;
    padding-left: rem(40);
    padding-right: rem(40);
    @include for-size(tablet) {
      font-size: rem(15);
    }
    @include for-size(desktop) {
      font-size: rem(18);
      line-height: rem(25);
      margin-bottom: rem(50);
    }
    &--br {
      @include for-size(tablet) {
        display: block;
      }
    }
  }
  @include for-size(tablet) {
    background-image: linear-gradient(
        rgba(17, 21, 23, 0.8),
        rgba(17, 21, 23, 0.8)
      ),
      url(../images/tablet/registration/t-registration-background.jpg);
    padding-top: rem(60);
    padding-bottom: rem(64);
  }
  @include for-size(desktop) {
    background-image: linear-gradient(
        rgba(17, 21, 23, 0.8),
        rgba(17, 21, 23, 0.8)
      ),
      url(../images/desktop/registration/d-registration-background.jpg);
    padding-top: rem(86);
    padding-bottom: rem(88);
  }
  @include for-size(desktop-xl) {
    background-image: linear-gradient(
        rgba(17, 21, 23, 0.8),
        rgba(17, 21, 23, 0.8)
      ),
      url(../images/desktop-xl/registration/dxl-registration-bg.jpg);
    padding-top: rem(134);
    padding-bottom: rem(100);
  }
}

@media (min-resolution: 192dpi) {
  .registration {
    background-image: linear-gradient(
        rgba(17, 21, 23, 0.8),
        rgba(17, 21, 23, 0.8)
      ),
      url(../images/mobile/registration/registration_bg@2x.jpg);
    @include for-size(tablet) {
      background-image: linear-gradient(
          rgba(17, 21, 23, 0.8),
          rgba(17, 21, 23, 0.8)
        ),
        url(../images/tablet/registration/t-registration-background@2x.jpg);
    }
    @include for-size(desktop) {
      background-image: linear-gradient(
          rgba(17, 21, 23, 0.8),
          rgba(17, 21, 23, 0.8)
        ),
        url(../images/desktop/registration/d-registration-background@2x.jpg);
    }
    @include for-size(desktop-xl) {
      background-image: linear-gradient(
          rgba(17, 21, 23, 0.8),
          rgba(17, 21, 23, 0.8)
        ),
        url(../images/desktop-xl/registration/dxl-registration-bg@2x.jpg);
    }
  }
}

.contact__form {
  margin: 0 auto;

  &-input {
    display: block;
    width: 80%;
    height: 50px;
    padding-left: 22px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    margin: 0 auto;
    font-size: rem(18);
    &:not(:last-of-type) {
      margin-bottom: 20px;
      @include for-size(desktop) {
        margin-bottom: 30px;
      }
    }
    &--phone {
      margin-bottom: 54px;
    }
    @include for-size(tablet) {
      width: rem(400);
    }
    @include for-size(desktop) {
      width: rem(620);
      height: rem(72);
      font-size: rem(28);
    }
  }
}

.contact__form-input::placeholder {
  font-size: rem(13);
  font-weight: 600;
  letter-spacing: 0.7px;
  color: #fff;
  @include for-size(desktop) {
    font-size: rem(20);
  }
}

.contact__form-input:focus {
  outline: none;
  border: none;
  border-bottom: 2px solid $accent-color;
  transition: 0.2s;
}

.contact__form-input:required:focus:valid:not(:placeholder-shown) {
  border-bottom: 2px solid green;
}

.contact__form-input:required:focus:invalid:not(:placeholder-shown) {
  border-bottom: 2px solid red;
}

.modal-btn {
  width: 250px;
  height: 48px;
  color: #fff;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: 700;
  text-align: center;
  font-size: rem(11);
  background-color: $accent-color;
  &:active {
    background-color: #d35526;
  }
  &:hover {
    background-color: transparent;
    border: 1px solid $accent-color;
    color: $accent-color;
    box-shadow: 5px 5px 10px 0px rgba(255, 107, 8, 1);
    transition: 0.2s;
  }
  @include for-size(desktop) {
    width: rem(320);
    height: rem(68);
    font-size: rem(14);
  }
}
