.wrapper {
  padding-top: 54px;
  padding-bottom: 54px;
}
.slider__title-wrapper {
  text-align: center;
}
.slider__title {
  font-size: rem(20);
  line-height: rem(33);
  font-weight: 800;
  @include for-size(tablet) {
    font-size: rem(26);
  }
  @include for-size(desktop) {
    font-size: rem(42);
    line-height: rem(62);
  }  
}
.slider-button {
  display: inline;
  background-color:transparent;
  border: none;
  color: #ff6b08;
  text-decoration: underline;
  
}
    
.slider-nav {
  position: relative;
}
.slider-nav .slick-arrow {
  position: absolute;
  top: 25%;
  z-index: 50;
  font-size: 0;
  width: 30px;
  height: 26px;
  background-color:transparent;
  border: none;
}
.slider .slick-arrow {
  position: absolute;
  top: calc(50% - 13px);
  z-index: 50;
  font-size: 0;
  width: 30px;
  height: 26px;
  background-color:transparent;
  border: none;
}
.slider-nav .slick-arrow.slick-prev {
  left: 20px;
  background: url('../images/small-photos/arrow-left2.svg') 0 0 /100% no-repeat;
  
}
.slider-nav .slick-arrow.slick-next {
  right: 20px;
  background: url('../images/small-photos/arrow-right2.svg') 0 0 /100% no-repeat;
}
  
.slick-list {
  overflow: hidden;
}
  
.slick-track {
  display: flex;
  text-align: center;
}
  
.slider-image {
  padding-bottom: 24px;
}
.slider__item-face {  
  margin: 20px auto;
}
.icon-vk {
  margin: 0 auto;
}
.slider__item {
  min-width: 280px;
  box-shadow: 0px 0px 22px -1px rgba(29, 29, 27, 0.09);
  text-align: center;
  margin: 20px 20px 34px;
}
.slider__item-name {
  font-size: 13px;
  font-family: $main-font;
  color: $accent-color;
  font-weight: 900;
  line-height: 2.244;
  margin:0 auto;
}
.slider-text {
  padding:0 20px 0;
}
    
.slider__item-aducation {
  font-size: 11px;
  font-family: $main-font;
  color: #858585;
  line-height: 1.515;
  margin:0 auto 20px;
}
.slider__item-reviews{
  font-size: 11px;
  font-family: $main-font;
  color: $dark-color-second;
  line-height: 1.818;
  margin: 0 auto;
}
.slider__item-reviews--read-more {
  font-size: 11px;
  font-family: $main-font;
  color: $dark-color-second;
  line-height: 1.818;
  margin: 0 auto;
}
    
  
  .slider-nav__item-face {
    margin: 0 auto;
  }
  
  .slider-nav .slick-active .slider-nav__item-face {
    opacity: 1;
  }
  .slider-nav .slider-nav__item-face {
    opacity: 0;
  }
  
  .slider-nav .slick-current .slider-nav__item-face {
    border: solid 2px rgb(255, 107, 8);
    border-radius: 50%;
    width: 54px;
    height: 54px;
  }
  .slider__item-reviews--read-more {
    display: none;
  }
   
  @media screen and (min-width: 768px) {
    .wrapper {
      padding-bottom: 74px;
    }
    .slider .slick-list.draggable {
      width: 90%;
      max-width: 1064px;
      margin: 0 auto;
    }
    .slider-nav .slick-list.draggable {
      width: 66%;
      max-width: 600px;
      margin: 0 auto;
    }
    .slider-image {
      width: 160px;
    }
    .slider__item {
      display: flex;
      margin: 20px 20px 24px;
      padding-bottom: 46px;
    }
    .slider__item-name {
      font-size: 18px;
    }
    .slider__item-aducation {
      font-size: 12.5px;
    }
    .slider-text {
      padding: 46px 64px 0 0;     
      text-align: left;
    }
    
    .slider__item-face {  
      margin: 0 46px 20px 36px;    
      padding-top: 62px;
    }
    .slider {
      position: relative;
    }
    .slider .slick-arrow.slick-prev {
      left: 45px;
      background: url('../images/small-photos/arrow-left2.svg') 0 0 /100% no-repeat;
    }
    .slider .slick-arrow.slick-next {
      right: 45px;
      background: url('../images/small-photos/arrow-right2.svg') 0 0 /100% no-repeat;
    }
  }

  
@media screen and (min-width: 1280px) {
  .wrapper {
    padding-bottom: 100px;
  }  
  .slider-image {
    width: 230px;
  }
  .slider__item-name {
    font-size: 25px;
  }
  .slider__item-reviews{
    font-size: 16.7px;
  }
  .slider__item-reviews--read-more {
    font-size: 16.7px;
  }
  .slider .slick-arrow.slick-prev {
    left: 80px ;
  }
  .slider .slick-arrow.slick-next {
    right: 80px;
  }
}
@media screen and (min-width: 1680px) {
  .wrapper {
    padding-bottom: 124px;
  }
  .slider .slick-arrow.slick-prev {
    left: 180px;
  }
  .slider .slick-arrow.slick-next {
    right: 180px;
  }
}