$main-font: 'Montserrat', sans-serif;
$accent-color: #ff6b08;
$white-color: #fff;
$white-dark-color: #f1f1f1;
$dark-color-first:#111517;
$dark-color-second: #18191d;
$light-color: #fdfefe;
$green-color:rgb(32, 206, 9);